numpy==1.21.2
scikit-learn==1.0.2
scipy==1.7.3
pandas==1.4.1
scikit-learn
pytorch==1.10.1
torchvision==0.11.2
torchaudio==0.10.1
cudatoolkit
wandb
tensorboard
tensorboardX
grpcio
grpcio-tools
protobuf==3.19.4
setuptools==61.2.0
pyg==2.0.4
rdkit=2021.09.4
sentencepiece
textgrid
typeguard
nltk
transformers==4.16.2
tokenizers==0.10.3
torchtext
datasets
fvcore
pympler
iopath

