-f https://download.pytorch.org/whl/torch_stable.html
-f https://data.pyg.org/whl/torch-1.10.1+cpu.html
torch==1.10.1+cpu
torch-sparse==0.6.13
torch-scatter==2.0.9
torch-geometric==2.0.4
torchvision==0.11.2+cpu
colorama
click
filelock
flatbuffers
funcsigs
numpy<1.23.0
opencv-python-headless
pyarrow
pyyaml>=5.1
recommonmark
setproctitle
sphinx
sphinx-click
sphinx_rtd_theme
pandas
scipy==1.7.3
wandb
scikit-learn==1.0.2
matplotlib
tqdm
grpcio>=1.45.0
grpcio-tools
fvcore
iopath
tensorboard
tensorboardX
pympler
protobuf==3.19.4
pytest
pytest-cov
nltk
transformers==4.16.2
tokenizers==0.10.3
datasets
sentencepiece
textgrid
typeguard
openml==0.12.2
configspace==0.5.0
hpbandster==0.7.4
smac==1.3.3
optuna==2.10.0
networkx==2.8.8
